<%= form_for(resource, :as => resource_name, :html => {:class => 'form-signin' }, :url => registration_path(resource_name)) do |f| %>

  <div class="input-group">
    <span class="input-group-addon glyphicon glyphicon-user"></span>
    <%= f.text_field :name, placeholder: "Username", class: 'form-control' %>
  </div>
  <div class="input-group">
    <span class="input-group-addon">@</span>
    <%= f.email_field :email, class: 'form-control', placeholder: 'Email', required: true %>
  </div>
  <div class="input-group">
    <span class="input-group-addon glyphicon glyphicon-lock"></span>
    <%= f.password_field :password, class: 'form-control', placeholder: 'Password', required: true %>
  </div>
  <%= f.submit "Sign up!", class: "btn btn-primary", id: "loginsubmit" %>
<% end %>


