
<div class="row destacados">
    <div class="col-md-12 col-lg-12">
        <div>
            <%= image_tag post.picture.url(:thumb), class: 'profile-img img-caption' %>
            <h2 class="post-title"><%= truncate_name(post.title) %></h2>
            <div class="tag-line">
                </span>by <%= post.user.name %><span class="post-divider">|</span>
                </span><%= comment_count(post) %>             
            </div>
            <br />
            <%= render(partial: 'tags/tag_labels', :locals => {object: post}) %>
        </div>
    </div>
</div>
