<div class="row col-sm-12 col-md-12 col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading profile-heading">
			<h3><%= title %></h3>
		</div>
		<div class="panel-body <%= class_name %>">
			<div class='row'>
                <div class='col-md-12 col-lg-12'>
                    <div class="carousel slide media-carousel" id="<%= class_name %>-carousel">
                        <div class="carousel-inner">
                                <% post_counter = 1 %>
                                <% posts.each do |post| %>
                               
                                <% if post_counter == 1 %>
                                    <div class="item active">
                                <% else %>
                                    <div class="item">
                                <% end %>
                                        <div class="row">
                                                <%= link_to("/posts/#{post.id}", class: "profile-nowt-link") do %>
                                                        <div class="col-md-12 col-md-12">
                                                            <%= render 'users/profile_nowt', :post => post  %>
                                                        </div> 
                                                <% end %>
                                        </div>
                                    </div>
                                <% post_counter += 1 %>
                                <% end %>
                        </div>
                        <% unless posts.empty? %>
                        <a data-slide="prev" href="#<%= class_name %>-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                        <a data-slide="next" href="#<%= class_name %>-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>

                        <% end %>
                    </div>                          
                </div>
            </div>
	   </div>
	</div>
</div>

