
<%= form_for(@user, :url => { :action => "update" }, html: {:class => 'form-signin'} ) do |f| %>
  <h3>Edit Password</h3>
  <div class="input-group">
    <span class="input-group-addon glyphicon glyphicon-lock"></span>
    <%= f.password_field :current_password, class: 'form-control', placeholder: 'Current Password', required: true %>
  </div>
  <br />

  <div class="input-group">
    <span class="input-group-addon glyphicon glyphicon-lock"></span>
    <%= f.password_field :password, class: 'form-control', placeholder: 'New Password', required: true %>
  </div>

  <div class="input-group">
    <span class="input-group-addon glyphicon glyphicon-lock"></span>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'ConfirmPassword', required: true %>
  </div>

  <%= f.submit "Update!", class: "btn btn-primary", id: "loginsubmit" %>
<% end %>

