<%= devise_success_messages! %>
<div class="container">
	<div class="row">
		<div class="col-sm-5 col-md-5 col-lg-5 profile-panels">
			<div class="row col-sm-12 col-md-12 col-lg-12">
				<div class="profile panel panel-default">
		    		<a href="#" class='pull-left profile-img'>
		        		<img class="media-object dp img-circle tooltips" src="http://www.rovers.co.uk/images/common/bg_player_profile_default_big.png" data-toggle = "tooltip" data-placement ="top" title ="Edit your profile" style="width: 50px;height:50px;">
		    		</a>
		            <div class="profile-body">																									
		                <h4 class="media-heading"><%= @user.name %></h4>
		                <h5>California State University, Long Beach</h5>
		                <hr style="margin:8px auto">
		                <%= form_for(@user, as: :user, url: update_tag_path(@user), method: :patch) do |f| %>
  							<div class="input-group">
  								<span class="input-group-addon glyphicon glyphicon-tags"></span>
		                		<%= f.text_field :tag_tokens, "data-pre" => @user.tags.map(&:attributes).to_json, class: 'form-control' %>
	                		</div>

	                		<%= f.submit "Subscribe", class: "btn btn-primary", id: "loginsubmit" %>
                		<% end %>

		            </div>
		    	</div>
		    </div>
		   	<%= render(partial: 'profile_nowts', :locals => {posts: @trending, title: "Trending", class_name: "trending"}) %>
	    </div>

	    <div class="col-sm-7 col-md-7 col-lg-7 profile-panels">
	    	<%= render(partial: 'profile_nowts', :locals => {posts: @interests, title: "Here are some nowts you might be interested in!", class_name: "interest"}) %>
	    	<%= render(partial: 'profile_nowts', :locals => {posts: @your_nowts, title: "Your Board!", class_name: "your-board"}) %>
	    </div>
	</div>
</div>