

<div class="container">
	<div class="row">
		<div class="col-sm-5 col-md-5 col-lg-5 col-md-offset-1 col-lg-offset-1 profile-panels">
			<div class="row col-sm-12 col-md-12 col-lg-12">
				<div class="profile panel panel-default">
          <%= link_to(edit_path, "data-toggle" => "tooltip", "data-placement" => "bottom", title: "Change your account settings", :class => 'tooltips pull-left') do %>
            <% image_tag @user.avatar.url(:thumb), class: 'profile-img img-circle img-thumbnail' %>
            <% end %>
		            <div class="profile-body">																									
		                <h4 class="media-heading"><%= @user.name %></h4>
		                <h5>California State University, Long Beach</h5>

		                <%= render(partial: 'tags/tag_labels', :locals => {object: @user}) %>
		             

		                <hr style="margin:8px auto">
		                <a id="add-smart-tag-btn" style="float:right"><small>Add more smart tags</small></a>
		                <br />
		                <div id="add-smart-tags">
		                <%= form_for(@user, as: :user, url: update_tag_path(@user), method: :patch) do |f| %>
  							
		                		<%= f.text_field :tag_tokens, "data-pre" => @user.tags.map(&:attributes).to_json, class: 'form-control' %>
	                		
	                		<br />

	                		<%= f.submit "Subscribe", class: "btn btn-primary", id: "loginsubmit" %>
                		<% end %>
                		</div>

		            </div>
		    	</div>
		    </div>
		   	<%=  render(partial: 'profile_nowts', :locals => {posts: @trending, title: "Trending", class_name: "trending"}) %>
	    </div>

	    <div class="col-sm-5 col-md-5 col-lg-5 profile-panels">
	    	<%=  render(partial: 'profile_nowts', :locals => {posts: @interests, title: "Here are some nowts you might be interested in!", class_name: "interest"}) %>
	    	<%=  render(partial: 'profile_nowts', :locals => {posts: @your_nowts, title: "Your Board!", class_name: "your-board"}) %>
	    </div>
	</div>
</div>