
<div class="container">

	<div class="row">
		<div class="col-sm-5 col-md-6 col-lg-7"></div>
		<div class="col-xs-12 col-sm-7 col-md-6 col-lg-5">
			<div class="profile">
	            <a href="#" class='pull-left profile-img'>
	                <img class="media-object dp img-circle" src="http://www.rovers.co.uk/images/common/bg_player_profile_default_big.png" style="width: 100px;height:100px;">
	            </a>
	            <div class="profile-body">
	                <h4 class="media-heading"><%= @user.name %></h4>
	                <h5>California State University, Long Beach</h5>
	                <hr style="margin:8px auto">

	                <span class="label label-primary label-st"><a href="#">SmartTag 1</a></span>
	                <span class="label label-primary label-st"><a href="#">SmartTag 2</a></span>
	                <span class="label label-primary label-st"><a href="#">SmartTag 3</a></span>
	                <span class="label label-primary label-st"><a href="#">SmartTag 4</a></span>
	            </div>
	    	</div>
	    </div>
</div>


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_registration_path %> |
<%= link_to 'Back', users_path %>
