

<div id="myModal" class="modal fade" tabindex="-1">


  <div class="modal-dialog modal-md nowt-modal">
    <%= form_for(Post.new, :html => {:class => "cbp-mc-form"}, remote: true) do |f| %>
    <div class="modal-content">

      <ul class="cbp-vimenu">
        <li><a href="#" title="Book" class="modal-category-active"><span class="glyphicon glyphicon-book"></span></a></li>
        <li><a href="#" title="Service"><span class="glyphicon glyphicon-briefcase"></span></a></li>
        <li><a href="#" title="Event"><span class="glyphicon glyphicon-calendar"></span></a></li>
        <li><a href="#" title="Misc"><span class="glyphicon glyphicon-asterisk"></span></a></li>
      </ul>
      <%= f.hidden_field :category, value: "Book" %>

      <div class="modal-body">
        <div class="container-fluid">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div class="row">
              <%= f.label :title, "Title", class: "modal-label" %>
              <%= f.text_field :title, :id => "modal-title", :placeholder => "Lorem Ipsum", :autofocus => true, :required => true %>
              
              <%= f.label :description, "Description", class: "modal-label" %>
              <%= f.text_area :description, id: "modal-description", :placeholder => "Lorem ipsum dolor sit amet, sed viris dissentiet ne, ad ius oporteat urbanitas adversarium, has electram adipiscing an.", :required => true %>
          </div>
          <div class="row">
              <%= f.label :picture, "Upload an Image", class: "modal-label" %>
              <%= f.file_field :picture, id: "modal-picture" %>
              <label class="modal-label" for="post_tag_tokens">Smart Tags</label>
              <%= f.text_field :tag_tokens, class: 'form-control' %>
 
          </div>
          <div class="cbp-mc-submit-wrap"><input class="cbp-mc-submit" type="submit" value="Nowt It!" /></div>
          </div>
        </div>
      </div> <!-- end modal body -->
    </div> <!-- end modal content -->
  </div> <!-- end modal dialog -->
  <% end %>
</div> <!-- end my modal -->