<div id="myModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-md nowt-modal">
    <%= form_for(Post.new, :html => {:class => "cbp-mc-form"}, remote: true) do |f| %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu">
            <div class="list-group">
              <a href="#" title="Book" class="list-group-item active text-center">
                <div class="iconmelon">
                  <svg viewBox="0 0 32 32">
                    <g filter="">
                      <use xlink:href="#geography"></use>
                    </g>
                  </svg>
                </div><p>Books</p>
              </a>
              <a href="#" title="Service" class="list-group-item text-center">
                <div class="iconmelon">
                  <svg viewBox="0 0 32 32">
                    <g filter="">
                      <use xlink:href="#tools1"></use>
                    </g>
                  </svg>
                </div><p>Services</p>
              </a>
              <a href="#" title="Event" class="list-group-item text-center">
                <div class="iconmelon">
                  <svg viewBox="0 0 32 32">
                    <g filter="">
                      <use xlink:href="#calendar"></use>
                    </g>
                  </svg>
                </div><p>Events</p>
              </a>
              <a href="#" title="Misc" class="list-group-item text-center">
                <div class="iconmelon">
                  <svg viewBox="0 0 32 32">
                    <g filter="">
                      <use xlink:href="#share"></use>
                    </g>
                  </svg>
                </div><p>Misc.</p>
              </a>
            </div>
          </div>

          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
            <div class="bhoechie-tab-content modal-active modal-prev">
              <%= f.hidden_field :category, value: "Book" %>
              <div class="container-fluid">
                <div class="row">
                  <%= f.label :title, "Title", class: "modal-label" %>
                  <%= f.text_field :title, :id => "modal-title", :placeholder => "Lorem Ipsum", :autofocus => true, :required => true %>

                  <%= f.label :description, "Description", class: "modal-label" %>
                  <%= f.text_area :description, id: "modal-description", :placeholder => "Lorem ipsum dolor sit amet, sed viris dissentiet ne, ad ius oporteat urbanitas adversarium, has electram adipiscing an.", :required => true %>
                  <div class="cbp-mc-submit-wrap pull-right"><input class="cbp-mc-next" id="nowt-modal-next-btn" type="button" value="Next" /></div>
                </div>
              </div>
            </div>
            <div class = "bhoechie-tab-content modal-next">
            <div class="container-fluid">
              <div class="row">
                  <%= f.label :picture, "Upload an Image", class: "modal-label" %>
                  <%= f.file_field :picture, id: "modal-picture" %>
                  <label class="modal-label" for="post_tag_tokens">Smart Tags</label>
                  <%= f.text_field :tag_tokens, class: 'form-control' %>
                  <div class="cbp-mc-submit-wrap pull-right">
                    <input class="cbp-mc-next" id="nowt-modal-prev-btn" type="button" value="Previous" />
                    <input class="cbp-mc-submit" type="submit" value="Nowt It" />
                  </div>
                </div>
            </div>

            </div>
            
          </div>
          <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <button type="button" class="close pull-right" data-dismiss="modal" aria-hidden="true">
                <div class="iconmelon">
                  <svg viewBox="0 0 32 32">
                    <g filter="">
                      <use xlink:href="#close"></use>
                    </g>
                  </svg>
                </div>
            </button>
          </div>
          <br />
        </div>
      </div>
    </div>
  </div> <!-- end modal dialog -->
  <% end %>
</div> <!-- end my modal -->