<li>
	<%= image_tag post.user.avatar.url(:thumb), class: 'profile-img img-caption cbp_tmicon' %>
    <div class="cbp_tmlabel">
        <div class="row nowt-container">
		    <div class="col-md-12 col-lg-12 post">
		        <div class="row">
		            <div class="col-md-12 col-lg-12">
		                <h4>
		                    <strong>
		                      <%= link_to(post.title, "/posts/#{post.id}", class: "post-title") %>
		                    </strong>
		                    <% if current_user == post.user %>
		                        <%= link_to "Edit", "/posts/#{post.id}/edit", class: "pull-right" %>
		                    <% end %>
		                </h4>
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-md-12 col-lg-12 post-header-line">
		                by <%= post.user.name %> <span class="post-divider"> | </span>
		                <%= post.updated_at.strftime("%m/%d/%y") %> <span class="post-divider"> | </span>
		                <%= link_to(comment_count(post), "/posts/#{post.id}", class: "post-comment") %> <span class="post-divider"> | </span>
		                Tags : <%= render(partial: 'tags/tag_labels', :locals => {object: post}) %>
		            </div>
		        </div>
		        <div class="row post-content">
		            <div class="col-md-3 col-lg-3">
		                <%= link_to "/posts/#{post.id}" do %>
		                    <img src="http://4.bp.blogspot.com/-_lqoNpVXeU4/UkxQ7N-QW8I/AAAAAAAACTw/pni-TZyp17o/s1600/cool+share+button+effects+styles.png" alt="" class="img-responsive">
		                <% end %>
		            </div>
		            <div class="col-md-9 col-lg-9">
		                <p class="post-description">
		                    <%= post.description %>
		                </p>
		            </div>
		        </div>
		        <div class="row">
		        	<div class="col-md-12 col-lg-12 post-comments">
		        		<%= commontator_thread(post) %>
		        	</div>

		        </div>

		    </div>
		</div>
    </div>
</li>