<div class="container">
	<div class="row">
		<div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 nowt-container">
			<div class="row">
				<div class="col-md-11 col-lg-11">
				<h3>Edit</h3>
				<%= form_for(@post, as: :post, url: "/posts/#{@post.id}" , method: :patch, :html => {:class => "cbp-mc-form"}) do |f| %>
					 <div class="bhoechie-tab-content"> 
					  <%= f.label :title, "Title", class: "modal-label" %>
				      <%= f.text_field :title, :id => "modal-title",:autofocus => true %>

				      <%= f.label :description, "Description", class: "modal-label" %>
				      <%= f.text_area :description, id: "modal-description" %>

				      <label class="modal-label" for="post_tag_tokens">Smart Tags</label>
					  <%= f.text_field :tag_tokens, class: 'form-control', id: 'post_update_tag_tokens', "data-pre" => @post.tags.map(&:attributes).to_json %>
					
					<br />

					<%= f.submit "Edit", class: "cbp-mc-submit", id: "loginsubmit" %>
					</div>
				<% end %>
				</div>
				<div class="col-md-1 col-lg-1"></div>
			</div>
			<br />
			<%= link_to("View", @post) %> 
		</div>
	</div>
</div>