<h1>Editing post</h1>
<%= form_for(@post, as: :post, url: "/posts/#{@post.id}" , method: :patch) do |f| %>
		
		<%= f.text_field :tag_tokens, "data-pre" => @post.tags.map(&:attributes).to_json, class: 'form-control' %>
	
	<br />

	<%= f.submit "Subscribe", class: "btn btn-primary", id: "loginsubmit" %>
<% end %>


<%= link_to("Show", @post) %> 
<%= link_to("Back", posts_path) %>
