<!DOCTYPE html>
<html>
<head>
  <title>nowt</title>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  

</head>
<body>


<%= render 'layouts/header' %>

<%= js add_gritter(devise_error_messages!,  :time => 6000, :image => "https://cdn1.iconfinder.com/data/icons/3d-printing-icon-set/512/Error.png", :title => "Whoops! Something bad happened!") %>
<%= js add_gritter(devise_success_messages!,  :time => 6000,  :image => "https://cdn1.iconfinder.com/data/icons/perfect-flat-icons-2/512/Ok_check_yes_tick_accept_success_green_correct.png", :title => "Successful!") %>
<%= js extend_gritter :position => :bottom_left %>

<%= content_for?(:content) ? yield(:content) : yield %>

<% if user_signed_in? %>
	<% unless current_user.tags.empty? %>
		<% subscriptions = get_subscriptions(current_user) %>

		<% subscriptions.each do |sub| %>
			<%= subscribe_to(sub) %>
		<% end %>
	<% end %>

  <% unless current_user.posts.empty? %>
    <% posts = get_user_posts(current_user) %>

    <% posts.each do |post| %>
      <%= subscribe_to(post) %>
    <% end %>
  <% end %>
<% end %>

<script>
      var url ='<%= asset_path("icons.svg") %>';
      var c=new XMLHttpRequest(); c.open('GET', url, false); c.setRequestHeader('Content-Type', 'text/xml'); c.send();
      document.body.insertBefore(c.responseXML.firstChild, document.body.firstChild)
</script>


</body>
</html>
