<!DOCTYPE html>
<html>
<head>
  <title>nowt</title>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  

</head>
<body>


<%= render 'layouts/header' %>

<%= js add_gritter(devise_error_messages!, :image => :error, :title => "Whoops! Something bad happened!", :sticky => true, :time => 6000) %>
<%= js add_gritter(devise_success_messages!, :image => :success, :title => "Successful!", :sticky => true, :time => 6000) %>

<%= content_for?(:content) ? yield(:content) : yield %>

<% if user_signed_in? %>
	<% unless current_user.tags.empty? %>
		<% subscriptions = get_subscriptions(current_user) %>

		<% subscriptions.each do |sub| %>
			<%= subscribe_to(sub) %>
		<% end %>
	<% end %>

  <% unless current_user.posts.empty? %>
    <% posts = get_user_posts(current_user) %>

    <% posts.each do |post| %>
      <%= subscribe_to(post) %>
    <% end %>
  <% end %>
<% end %>

<script>
      var url ='/assets/icons.svg';
      var c=new XMLHttpRequest(); c.open('GET', url, false); c.setRequestHeader('Content-Type', 'text/xml'); c.send();
      document.body.insertBefore(c.responseXML.firstChild, document.body.firstChild)
</script>


</body>
</html>
